.git
.gitignore
.envs
.venv
.venv312
__pycache__
*.pyc
db.sqlite3
staticfiles
media
node_modules
.editorconfig
.pre-commit-config.yaml
.readthedocs.yml
/compose
/docs
/requirements/local.txt
/requirements/test.txt
Dockerfile
docker-compose.yml
docker-compose.docs.yml
pip_list.txt
*.bat
*.cmd
*.log
