<footer class="footer">
    <div class="page-container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <script>document.write(new Date().getFullYear())</script> (c) Smart IOT IITG'26
            </div>
            <div class="col-md-6">
                <div class="text-md-end footer-links d-none d-md-block">
                    <a href="{% url 'pages:about' %}">About</a>
                    <a href="{% url 'pages:support' %}">Support</a>
                    <a href="{% url 'pages:contact' %}">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</footer>
